---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title = 'Masood', description = 'A polyglot, backend engineer, & curious chap.' } =
    Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <!-- Script -->
        <script>
            const storedTheme = localStorage.getItem('theme');

            if (!storedTheme) {
                const hour = new Date().getHours();
                const isDayTime = hour >= 7 && hour < 18;

                document.documentElement.classList.toggle('dark', !isDayTime);
            } else {
                document.documentElement.classList.toggle('dark', storedTheme === 'dark');
            }
        </script>

        <!-- Basic -->
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />

        <!-- Favicon -->
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

        <!-- Open Graph -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/og-image.png" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://masoodbuilds.com" />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/og-image.png" />

        <!-- Generator -->
        <meta name="generator" content={Astro.generator} />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DynaPuff:wght@400..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
